<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h2 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h2>

<p sec:authorize="hasRole('ROLE_USER')">
    This content is only for users.
</p>

<p sec:authorize="hasRole('ROLE_ADMIN')">
    This content is only for administrators.
</p>

<p>
    Welcome to the home page. You are now logged in.
</p>

<form th:action="@{/logout}" method="post">
    <button type="submit">Log out</button>
</form>
</body>
</html>